{% extends 'base.html.twig' %}

{% block body %}

<div class="container tasks-list">
    <div class="form-row">
        <div class="col-7">
            <input type="text" id="subject-filter-task" class="form-control" placeholder="По названию">
        </div>
        <div class="col">
            <input type="text" id="updated-on-filter-task" class="form-control" placeholder="По дате обновления">
        </div>
        <div class="col">
            <button type="submit" class="btn btn-primary" id="filter-out-task">Отфильтровать</button>
        </div>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">subject</th>
            <th scope="col">description</th>
            <th scope="col">createdOn</th>
            <th scope="col">updatedOn</th>
            <th scope="col">parent</th>
            <th scope="col">doneRatio</th>
            <th scope="col">startDate</th>
            <th scope="col">priority</th>
        </tr>
        </thead>
        <tbody id="result-filtered">

        </tbody>
    </table>
</div>

{% endblock %}
